bcrypt
beautifulsoup4
email-validator
fastapi
firecrawl
google-api-python-client
jwt
motor
openai
passlib[bcrypt]
pydantic
pydantic-settings
pyjwt
pymongo
python-dotenv
python-jose[cryptography]
python-multipart
qdrant-client
twilio
uvicorn[standard]
websockets
